.back{
  width: 90%;
  margin: auto;
}
.Backgound {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
@media (min-width: 300px) and (max-width: 450px) {
  .textContainer {
    padding: 0px;
  }
  .Backgound{
    height:auto;
    margin-bottom: 25px;
  }

}
.textContainer {
 
  border-radius: 10px;
  /* padding-bottom: 90px; */
 
}

.formContainer {
  padding: 20px;
  margin-right: 20px;
}

.margin {
  /* margin-top: -29px; */
  /* height: 80%; */
  margin: auto;
}
.image {
  width: auto;
  height: 30px;
}
