.Backgound {
  background-image: url("../../../public/contactus/image.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
  height: 520px;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.textContainer {
  padding: 20px;
  border-radius: 10px;
  opacity: 1;
  color: #244ba8;
  position: relative;
  bottom: 60px;
}



.image {
  width: auto;
  height: 30px;
}

.cbtn {
  width: 330px;
  /* Limit width for larger screens */
  height: 56px;
  letter-spacing: 6px;
  background-color: white;
  color: #244ba8;
  font-weight: 500;
  font-size: 20px;
  margin: auto;
  margin-top: 24px;
}

.margin {
  margin-top: 20px;
  /* Add margin for better spacing */
  opacity: 1;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .textContainer {
    /* margin-top: 40px; */
    margin-bottom: 20px;
    padding: 0px !important;
    position: absolute;
    top: 10%;
  }

  .Backgound {
    height: auto;
  }

  .ctext {
    font-size: 30px;
    text-align: center;
  }

  .cbtn {
    /* margin: 20px auto; */
    margin-bottom: 90px;
    /* Center button on smaller screens */
    margin-top: 20px !important;
  }


  .margin {
    /* margin: 20px -34px 0px 13px !important; */
    padding: 10px;
    margin-top: 160px;
  }

  .formContainer {
    padding: 0px !important;
  }
}