.Backgound {
  background-image: url('../../../public/landing/RegistrationProcess/website.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile{
  display: none;
}

@media (min-width: 300px) and (max-width: 450px) {

  .Backgound{
    display: none;
  }
  .mobile{
    background-image: url('../../../public/landing/RegistrationProcess/mobile.jpg');
    background-size: cover;
    background-position: center;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}