.bg{
    width: 80%;
    margin: auto;
}
.width{
    width: auto;
    height: 500px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
.desktop{
    display: flex;
    justify-content: space-evenly;
}
@media (min-width: 300px) and (max-width: 600px) {
.flex{
    display: block;
}
}
.bgWhite{
    background-color: white !important;
}