
.Backgound {
  background-image: url('../../../public/landing2/landingbanner2/Rectangle 21.png');
  background-size: cover;
  background-position: center;
  height: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0px 0px 0px;
  width: auto;
}

.formContainer {
  padding: 20px;
  margin-right: 20px;
  background-color: #4338ca;
  border-radius: 6%;
  position: relative;
}

.formContainerFixed {
  position: fixed;
  top: 38%; /* Adjust this value to control the distance from the top */
  right: 20px; /* Adjust this value to control the distance from the right */
  padding: 40px;
  background-color: #4338ca;
  border-radius: 6%;
}
  
  .textContainer {
    padding: 20px;
    border-radius: 10px;
  }

