.Backgound {
  background-image: url('../../../public/landing2/landingbanner2/Rectangle 21.png');
  background-size: cover;
  background-position: center;
  height: 600px;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 0px 0px;
  width: auto;
}

.formContainer {
  padding: 20px;
  margin-right: 35px;
  background-color: #4338ca;
  border-radius: 6%;
  /* position: relative; */
  color: white;
  display: block;
}

.formContainerFixed {
  position: fixed;
  top: 34%;
  right: 20px;
  padding: 40px;
  background-color: #4338ca;
  border-radius: 6%;
  margin-right: 51px;
}
.container{
  width: 90%;
  margin: auto;
}
.textContainer {
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 300px) and (max-width: 450px) {
.Backgound{
  height: auto;
}
}